/* Variables CSS */
:root {
  --primary-color: #fa4529;
  --secondary-color: rgb(26, 117, 26);
  --text-color: #444;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
}

/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Contenedor principal */
.layout {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
  padding: 20px 0;
}

.header .logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.logo img {
  max-width: 100px;
}

.header .logo span {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 10px;
}

.header .logo h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header nav {
  flex-grow: 1;
  text-align: right;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header nav li {
  display: inline;
  margin-left: 15px;
  font-weight: bold;
  font-size: var(--font-size-medium);
}

.header li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.header a:hover {
  color: var(--primary-color);
}

/* Contenido */
.content {
  min-height: 300px;
}

/* Pie de página */
.footer {
  text-align: center;
  font-size: var(--font-size-small);
  margin-top: 80px;
  padding: 20px;
  border-top: 3px solid black;
  background: #f5f5f5;
  color: var(--text-color);
}

/* Estilos para la página de inicio */
.home h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 1.25rem;
}

.home .service,
strong {
  color: var(--primary-color);
  font-weight: bold;
}

.home .title a,
input[type="submit"],
button {
  padding: 0.1rem 0.1rem;
  border-radius: 5px;
  color: #f5f5f5;
  background-color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.home .title a:hover,
input[type="submit"]:hover,
button:hover {
  background-color: var(--secondary-color);
}

/* Estilos para la sección de trabajos */
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.work-item {
  width: calc(33.33% - 10px);
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

/* Estilos para las imágenes de trabajo */
.work-item .mask {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
}

.work-item img {
  width: 100%;
  max-height: 100%;
  transition: transform 0.3s;
}

.work-item .mask:hover img {
  transform: scale(1.1);
}

/* Estilos para los títulos y enlaces de trabajo */
.work-item span,
.work-item h2,
.work-item a {
  color: black;
  text-decoration: none;
}

.work-item span {
  display: block;
  color: gray;
  margin-top: 10px;
}

.work-item h2 {
  font-size: 24px;
  margin: 10px 0;
}

.work-item h3 {
  color: gray;
  margin: 10px 0;
}

.work-item a:hover {
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 10px 0;
}

/* Estilos para los enlaces del menú */
.nav-link {
  font-size: var(--font-size-large);
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Estilos para el enlace activo */
.nav-link.active {
  color: var(--primary-color);
}

/* Estilos para la lista del menú */
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilos para los elementos de la lista del menú */
.nav-list li {
  margin: 0 15px;
}

/* Estilos adicionales para hacer el menú responsive */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .logo {
    margin-bottom: 20px;
  }
}

/* Estilos para hacer el diseño responsive */
@media (max-width: 768px) {
  .work-item {
    width: calc(50% - 10px);
  }
}

@media (max-width: 576px) {
  .work-item {
    width: 100%;
  }
}

/* Estilos para la página de Servicios */
.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para el título */
.heading {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Estilos para la sección de servicios */
.service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Estilos para cada artículo de servicio */
.service article {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 5px 15px #ddd;
}

/* Estilos para los títulos de los artículos */
.service article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para el contenido de los artículos */
.service article p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Estilos para el contenedor */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para el título */
.header-title {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Estilos para la lista de enlaces */
.links-list {
  list-style-type: decimal;
  margin-left: 0;
  font-size: 16px;
  padding-left: 20px;
}

.links-list li {
  margin-bottom: 10px;
}

.links-list a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Estilos para el botón de descarga de currículum */
.curriculumLink {
  text-decoration: none;
}

.curriculum {
  display: inline-block;
  padding: 15px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: var(--font-size-medium);
}

.input-group textarea {
  height: 150px;
}

/* Estilos para el botón de enviar */
.input-group button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-large);
  cursor: pointer;
}

.input-group button:hover {
  background-color: var(--secondary-color);
}

.footer-text {
  font-size: var(--font-size-small);
  color: var(--text-color);
}
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  /* Estilos para el botón de menú en pantallas pequeñas */
  .menu-button {
    display: block; /* Mostrar el botón en pantallas pequeñas */
    cursor: pointer;
    font-size: 24px; /* Tamaño de fuente ajustado */
  }

  /* Estilos para el menú desplegable en pantallas pequeñas */
  .menu-dropdown {
    display: none; /* Ocultar el menú desplegable en pantallas pequeñas */
    left: 0;
    background-color: white;

    z-index: 1;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 15px #ddd;
    flex-direction: column; /* Cambiar la dirección de flexión a column */
    align-items: flex-start; /* Alinear elementos en la parte superior */
    justify-content: flex-start; /* Alinear elementos a la izquierda */
  }

  /* Estilos para mostrar el menú en pantallas pequeñas cuando el input está marcado */
  .menu-toggle:checked + .menu-button + .menu-dropdown {
    display: block; /* Mostrar el menú cuando está marcado en pantallas pequeñas */
  }

  /* Alineación vertical de elementos del menú */
  .menu-dropdown ul {
    list-style: none;
    padding: 0;
  }

  .menu-dropdown li {
    margin: 0;
    text-align: center;
  }

  .menu-dropdown a {
    display: block;
    padding: 10px 0;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .menu-dropdown a:hover {
    color: var(--primary-color);
  }
}
